# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
venv/
ENV/
env/
.venv/

# Logs
*.log
logs/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Python packaging
*.egg
*.egg-info/
dist/
build/

# IDE files
.idea/

# Misc
*.swp
*.bak
*.tmp